@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ADMIN PAGE</title>
</head>
<body>
    <nav>
        <div class="menu">
            <div class="menu__icon">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>

            <div class="menu__links">
                <span class="menu__links-item">@Html.ActionLink("Home", "Index", "Home")</span>
                <a class="menu__links-item" href="/">
                    MENU
                </a>
                <a class="menu__links-item" href="/">
                    BLOG
                </a>
                <a class="menu__links-item" href="/">
                    LOGIN
                </a>
                <span class="menu__links-item">@Html.ActionLink("Admin", "Index", "Home")</span>
            </div>
        </div>
    </nav>
    <div>
        @RenderBody()
    </div>
</body>
</html>
